.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.body{
    background-color: lightgray;
}

.cabeçalho{
    position: fixed;
    margin-top: 0;
}

.header{
    display: flex;
    width: 99vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color:greenyellow;
    height: 40px;  
    text-shadow: black 2px 1px 1px;
}

#logo{
    color: white;
    text-shadow: black 2px 1px 1px;
}

.header a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: white;
}

.item{
    margin-top: 40px;
    display:flex;
    flex-direction:column;
    align-items:center;
    border-bottom: black solid 1px;
    background-color: rgb(247, 244, 244);
    color: dimgrey
}

.item img{
    max-width: 500px;
    max-height: 500px;
}

.item p{
    margin-left: 150px;
    margin-right: 150px;
    font-size:20px;
    color: dimgrey;
    font-weight: bolder;
}

.btn-saibaMais{
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
    font-weight:bolder;
    color: green;
    border: rgb(175, 175, 175) solid 2px;
    background-color: rgb(175, 175, 175);
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color:greenyellow;
    width: 98,5vw;
    height: 60px;
    text-shadow: black 2px 2px 2px;
}

.footer h2{
    font-size:20px;
}